*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14213D;
  text-transform: uppercase;
  height: 5em;
}

.headerTitle{
  color: #FCA311;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1em;
  background-color: #14213D;
}

.headerNav{
  display: flex;
}

.navElement{
  margin-right: 3.5em;
}

.navElement .navName{
  color: #FCA311;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}